*~
*.fls
*.fdb_lateexmk
.DS_STORE
*.xwm
*.aux
*.pdf
*.log
*.out
*.bbl
*.blg
*.thm
*.xml
*.toc
*-blx.bib
*.old
*.nav
*.snm
*.synctex.gz
*.zip
arxiv-temp
*.pyc
*.sav
*.bak
*.fdb_latexmk
*.lot
*.lof
*.jld2
*.bin
*.csv
*.csv.bz2
*.js
*.gif
*.css
*.png

!**/figure-files/**/*.pdf
**/old-statsoc-main-and-style-files/**
